@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		accent-color: green;
		background-color: #000;
		color: #fff;
	}
}

@layer components {
	.link {
		text-decoration: underline;
	}
}

@layer utilities {
	.off {
		opacity: 0.5;
	}
}
