@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		accent-color: green;
		background-color: #000;
		color: #fff;
	}

	summary {
		display: block;
		cursor: pointer;
	}
	:-webkit-details-marker { display: none; }
}

@layer components {
	.link {
		text-decoration: 0.5px dashed underline;
		@apply hover:decoration-solid;
	}
}

@layer utilities {
	.off {
		opacity: 0.5;
	}

	.dynamic-color {
		color: hsla(120, 100%, calc(100% - var(--v, 0) * 50%));
	}

	.glass {
		backdrop-filter: blur(2px);
		@apply bg-black/80;
	}
}
